ol, ul {
    margin-top: 0 !important;
    margin-bottom: 0px !important;
}
.btn-group .btn {
    border: 1px solid #6c757dbd;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-heading.note-toolbar  {
    background-color: #e1e1e1;
}

input, select {
    /* padding: 3px !important; */
    font-size: 14px !important;
}

.dropdown-item {
    font-size: 13px;
    padding: 0.6rem 1.5rem;
}
.dropdown-item .fa{
    color: #f14545;
}
.logo-mobile img {
    max-width: 180px;
}
.btn-ftg-ptp-45  {
    cursor: pointer;
}
.card {
    border-radius: 0px !important;
}
.btn  {
    border-radius: 0px !important;
}

.dropdown-menu  {
    border-radius: 0px !important;
}
input  {
    border-radius: 0px !important;
}
select  {
    border-radius: 0px !important;
}
.tooltip {
    font-size:15px;
}